/* body {  

} */

header, footer{
  text-align: center;
  padding: 10px;
}

.column-layout{
  display: flex;
  padding: 10px;
  
  background-color: red;
}

.main-column{
  flex: 2 1 auto;
  background-color: green;
}

.sidebar-left{
  flex: 1 1 auto;
  background-color: blue;
}

.sidebar-right{
  flex: 1 1 auto;
  background-color: yellow;
}



/* .selection{
    
}

.selection:hover{
    
} */
